html,body{
    height: 100%;
    margin:0;
    padding:0;
    font-family: Roboto;
    overflow: auto;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    &::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: lightgrey;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
        background: darkblue;
    }
    //background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin transition($e) {
    transition-timing-function: ease-in-out;
    transition-duration: $e;
    -webkit-transform: $e;
    -moz-transform: $e;
    transition: $e;
}


@media only screen and (min-width: 767px) {
    .dashboard{
        height: 100%;
        width: 100%;
        display: flex;
        flex-grow: 1;
        margin:0;
        background: #0C1827;

        .wrapper-dashboard{
            width: 100%;
            display: flex;
            height: auto;
            flex-grow: 1;
            background: #0C1827;
        
            .table-row{
                width: 100vw;
                height: auto;
                //min-width: 100%;
                display: flex;
                flex-grow: 1;
        
                .sidebarCol{
                    padding: 0;
                    width: 100%;
                    height: 100vh;
                    max-width: 20%;
                    display:flex;
                    flex-grow: 1;
                    flex-direction: column;
                    box-sizing: border-box;

                    .layer{
                        padding: 0;
                        position:fixed;
                        max-width: 16.6%;
                        box-sizing: border-box;
                        height: 100%;
                        background:#0C1827;
                        
                        
                        .sidebar-divider{
                            border:0.5px solid gray;
                            width: 95%;
                            opacity: 50%;
                        }
                
                        .profile-pic{
    
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            text-decoration: none;

                            .profile{
                                margin-top: 20px;
                                margin-left: 5%;
                            }
    
                            a{
                                margin-left: 3%;
                                font-size: calc(1vw + 1vh);
                                color: #AFBDD1;
                                line-height: 30px;
                                /* or 150% */
                                letter-spacing: 0.15px;
                                text-decoration: none;

                                i {
                                    margin-left: 3.5vw;
                                    display: inline;
                                    color: #56657F;
                                    
                                }
                            }
    
                            #collapseOne{
                                width: 100%;
    
                            }
                        }
    
                        .navi{
                            font-size: calc(.7vw + .8vh);
                            padding-right: 0;
                            height: 40%;
                            color: lightgray;
                            width: 100%;
                            box-sizing: border-box;
                            .active{
                                background-color: rgba(242, 247, 255, 0.3);
                                word-wrap:break-word;
                                border-radius: 4px;
                                height:20%;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                i{
                                    margin-top: 3%;
                                    width: 100%;
                                    margin-left: 10%;
                                    color: #44AACC;
                                    word-wrap:break;
                                    overflow-wrap: break-word;
                                    hyphens: auto;
    
                                    span{
                                        word-wrap:break;
                                        overflow-wrap: break-word;
                                        hyphens: auto;
                                        margin-left: 10%;
                                        color: #44AACC;
                                        font-family: Roboto;
                                        text-decoration: none;
                                    }
                                }
                                transition: all .4s ease-in-out;
                                &:hover{
                                    background-color: rgba(81, 99, 131, 0.5);
                                }
                            }
    
                            .nav-items{
                                height:20%;
                                width: 100%;
                                word-wrap: break-word;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                transition: all .2s ease-in-out;
                                i{
                                    width: 100%;
                                    margin-top: 5%;
                                    margin-left: 10%;
                                    color: lightgray;
                                    span{
                                        color:lightgray;
                                        font-family: Roboto;
                                        margin-left: 10%;
                                        text-decoration: none;
                                    }
                                    transition: all .4s ease-in-out;
                                }

                                &:hover{
                                    background-color: rgba(242, 247, 255, 0.1);
                                    border-radius: 4px;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }

            .page-content{
                background: #123A50;
                width: 100%;
                min-width: 80%;

                .page-header{
                    margin-top: 5%;
                    font-family: raleway black;
                    color: lightgray;
                    .col-dashboard-header{
                        padding: 0;
                        h2{
                            font-size: calc(2vw + 2vh);
                        }
                    }
                    .col-product-button{
                        padding-right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        a{
                            height: 50%;     
                            display: flex;  
                            justify-content: center;
                            align-items: center;
                            font-size: calc(.8vh + .8vw);
                            width: 80%;
                            background: #0C1827;   
                            border-radius: 12px;
                            text-decoration: none;
                            color: white;
                            transition: all .4s ease-in-out;
                            &:hover{
                                color: #9BC53D;
                            }
                        }
                    }
                }

                .navpil{
                    padding: 0;
                    
                    .col-navpil{
                        padding: 0;
                    }
                    ul{

                        li{
                            .nav-link.active{
                                background: #0D2031;
                            }

                            .nav-link{
                                color: #AFBDD1;
                                background: rgba(13, 32, 49, 0.5);
                                transition: all .4s ease-in-out;

                                &:hover{
                                    background: rgba(13, 32, 49, 0.8);
                                }
                            }
                        }
                    }

                    .online-button{
                        padding-right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        transition: all .2s ease-in-out;
                        .custom-switch{
                            border-radius: 6px;
                            margin-right: 3%;
                            color: white;
                            width: 25%;
                            height: 90%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all .4s ease-in-out;
                            input{
                                &:checked{
                                    background-color: #123A50;
                                }
                            }
                            label{
                                font-size: calc(.8vh + .8vw);
                                line-height:calc(1vw + 2vh);

                            }
                        }
                        button{
                            border: 0;
                            width: 25%;
                            height: 90%;
                            background:  #2BA2B2;
                            font-size: calc(.8vh + .8vw);
                            &:hover{
                                background: #145057;
                            }
                        }
                    }
                }

                .hardware{
                    margin-top: 2%;
                    padding: 0;
                    .colUsage{
                        //margin-top: calc(-3vw + -3vh );
                        width: 100%;
                        padding: 0;
                        min-height: 2em;
            
                        //min-width: 14em;
                        .total-usage{
                            background:rgba(12, 24, 39, 0.75);
                            padding: 3%;
                            //min-width: 10em;
                            height: 100%;
                            color: white;
                            width: 100%;
                            box-sizing: border-box;
            
                            .usage-header{
                                width: 100%;
                                color: #AFBDD1;
                                h3{
                                    text-align: center;
                                    letter-spacing: 0.1px;
                                    font-weight: bold;
                                    font-size: calc(2vw + 2vh);
                                }
                            }
            
                            .line{
                                width: 100%;
                                height: calc(15vw + 15vh);
            
                            }
                        }
                    }
                }

                .chart{
                    padding: 0;
                    height: 100%;
                    margin-top: 3%;

                    .colDoughnut{
                        padding-left: 0;
                        padding-right: 0;
                    }
                    
                    .col-overall{
                        padding-right: 0;
                    }

                    .chart-state{
                        height: 100%;
                        color: white;
                        min-width: 25vw;
                        width: 100%;
                        padding: 1vw;
                        background:rgba(12, 24, 39, 0.75);
                        
                        .chart-state-header{
                            width: 100%;
                            color: white;
                            h3{
                                font-size: calc(1vw + 1.5vh);
                            }

                            .donut{
                                margin-top: 10%;
                                width: 100%;
                                height: calc(13vw + 5vh);
                            }

                            .d-table{
                                margin-top: 5%;
                                width: 100%;
                                .d-table-row{
                                    width: 100%;
                                    .legend-doughnut{
                                        width: 100%;
                                        height: 100%;
                                        color: white;
                                        font-size: calc(.7vw + .8vh);
                                        list-style: none;
                                        padding-left: calc(.2vh + .2vw);
                                        
                                        li{
                                            
                                            margin-top: 3vh;
                                            
                                            .green-ball{
                                                background-color: #9BC53D;
                                                display: inline-block; 
                                                width: calc(.5vh + .5vw);
                                                height: calc(.5vh + .5vw);
                                                margin-right:calc(.3vh + .3vw);
                                            }
                                        }
                                        
                                        // .Red{
                                        //     &::before{
                                        //         content: "\25a0"; 
                                        //         font-weight: bold;
                                                
                                        //         color: red;
                                        //         display: inline-block; 
                                        //         width: 1vw;
                                        //         margin-left: calc(-1.2vw + -1.2vh);
                                        //     }
                                        // }

        
                                        // .Blue{
                                        //     &::before{
                                        //        content: "\25a0"; 
                                        //        font-weight: bold;
                                               
                                        //        color: blue;
                                        //        display: inline-block; 
                                        //        width: 1vw;
                                        //        margin-left: calc(-1.2vw + -1.2vh);
                                        //    }
                                       //}
                                    }
    
                                    .percent-doughnut{
                                        text-align: end;
                                        padding: 0;
                                        height: 100%;
                                        width: 100%;
                                        list-style: none;
                                        font-size: calc(.7vw + 0.8vh);
                                        margin-right: 0;
                                        padding-right: calc(.2vh + .2vw);
                                        li{
                                            margin-top: 3vh;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .overall{
                        padding: 2%;
                        width: 100%;
                        background:rgba(12, 24, 39, 0.75);
                        height: 100%;

                        .overall-header{
                            width: 100%;
                            color: white;
                            h3{
                                font-size: calc(1vw + 1.5vh);
                            }
                        }

                        .bar-chart{
                            margin-top: 5%;
                            width: 100%;
                            height: calc(13vw + 13vh);
                            max-height: fit-content;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:575px) and (max-width: 768px) {
    .dashboard{
        height: 100%;
        width: 100%;
        margin:0;
        display: flex;
        flex-grow: 1;
        font-family: Roboto;
        background:#07052b ;

        .wrapper-dashboard{
            min-height: 100%;
            width: 100%;
            display: flex;
            flex-grow: 1;
            background: #07052b;
        
            .table-row{
                width: 100vw;
                height: 100%;
                display: flex;
                flex-grow: 1;
                min-width: 100%;
        
                .sidebarCol{
                    padding: 0;
                    background: #0C1827;
                    display:flex;
                    flex-grow: 1;
                    flex-direction: column;

                    .layer{
                        position:fixed;
                        padding: 0;
                        max-width: 8.3%;
                        height: 100%;

                        .sidebar-divider{
                            border:0.5px solid gray;
                            width: 95%;
                            opacity: 50%;
                        }
                
                        .profile-pic{
    
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
    
                            .profile{
                                margin-top: 20px;
                                margin-left: 5%;
                            }
    
                            .collapsed{
                                margin-left: 5%;
                                display:none;
                            }
                            
                            a{
                                font-size: calc(1.3vw + 1.3vh);
                                color: #AFBDD1;
                                line-height: 30px;
                                /* or 150% */
                                letter-spacing: 0.15px;
                                text-decoration: none;
                                i {
                                    margin-left: 5vw;
                                    color: #56657F;
                                }
                            }
    
                            #collapseOne{
                                width: 100%;
    
                            }
                        }
    
                        .navi{
                            height: 100%;
                            color: lightgray;
                            font-family: Roboto;
                            .active{
                                background-color: rgba(242, 247, 255, 0.3);
                                border-radius: 4px;
                                width: 100%;
                                height: calc(6vh + 6vw);
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                transition: all .4s ease-in-out;
                                i{
                                    font-size: calc(2.5vw + 1vh);
                                    width: 100%;
                                    color: #44AACC;
                                    padding: 0;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
    
                                    span{
                                        font-family: Roboto;
                                        color: #44AACC;
                                        text-decoration: none;
                                        font-size: x-small;
                                        display: none;
                                    }
                                } 
                            }
    
                            .nav-items{
                                width: 100%;
                                height: calc(6vh + 6vw);
                                border-radius: 4px;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                transition: all .4s ease-in-out;
                                a{
                                    text-decoration: none;
                                }
                                i{
                                    width: 100%;
                                    //margin-top: 10%;
                                    font-size: calc(2.5vw + 1vh)h;
                                    display: flex;
                                    flex-direction: column;
                                    justify-items: center;
                                    align-items: center;
                                    color: lightgray;
                                    span{
                                        font-family: Roboto;
                                        color:lightgray;
                                        text-decoration: none;
                                        font-size: x-small;
                                        display: none;
                                    }
                                }
                                &:hover{
                                    background-color: rgba(81, 99, 131, 0.5);
                                }
                            }
                        }
                    }
                }
            }

            .page-content{
                background: #123A50;
                width: 100%;

                .page-header{
                    margin-top: 5%;
                    font-family: raleway black;
                    color: lightgray;

                    .col-dashboard-header{
                        padding: 0;
                        h2{
                            font-size: calc(2vw + 2vh);
                        }
                    }
                    .col-product-button{
                        padding-right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        a{
                            height: 50%;     
                            display: flex;  
                            justify-content: center;
                            align-items: center;
                            font-size: calc(.8vh + .8vw);
                            width: 100%;
                            background: #0C1827;   
                            border-radius: 12px;
                            text-decoration: none;
                            color: white;
                            transition: all .4s ease-in-out;
                            &:hover{
                                color: #9BC53D;
                            }
                        }
                    }
                }

                .navpil{
                    .col-navpil{
                        padding: 0;
                    }
                    ul{
                        li{
                            font-size: calc(1vw + 1vh);
                            .nav-link.active{
                                background: #0D2031;
                            }

                            .nav-link{
                                color: #AFBDD1;
                                background: rgba(13, 32, 49, 0.5);
                                transition: all .2s ease-in-out;
                                &:hover{
                                    background: rgba(13, 32, 49, 0.8);
                                }
                            }
                        }
                    }


                    .online-button{
                        padding-right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        .custom-switch{
                            background: linear-gradient(0deg, #9BC53D, #9BC53D);
                            border-radius: 6px;
                            color: white;
                            width: 30%;
                            height: 90%;
                            display: flex;
                            margin-right: 3%;
                            justify-content: center;
                            align-items: center;
                            label{
                                font-size: calc(1.2vh + 1.2vw);
                                line-height:calc(1.5vw + 3vh);
                            }
                        }
                        button{
                            border: 0;
                            width:30%;
                            height: 90%;
                            background:  #2BA2B2;
                            font-size: calc(.8vh + .8vw);
                            transition: all .2s ease-in-out;

                            &:hover{
                                background: #145057;
                            }
                        }
                    }
                }

                .hardware{
                    margin-top: 2%;
                    padding: 0;
                    .colUsage{
                        //margin-top: calc(-3vw + -3vh );
                        width: 100%;
                        padding: 0;
                        min-height: 2em;
            
                        //min-width: 14em;
                        .total-usage{
                            background:rgba(12, 24, 39, 0.75);
                            padding: 3%;
                            //min-width: 10em;
                            height: 100%;
                            color: white;
                            width: 100%;
                            box-sizing: border-box;
            
                            .usage-header{
                                width: 100%;
                                color: #AFBDD1;
                                h3{
                                    text-align: center;
                                    letter-spacing: 0.1px;
                                    font-weight: bold;
                                    font-size: calc(2vw + 2vh);
                                }
                            }
            
                            .line{
                                width: 100%;
                                height: calc(15vw + 15vh);
            
                            }
                        }
                    }
                }

                .chart{
                    height: 100%;
                    padding: 0;
                    margin-top: 3%;

                    .colDoughnut{
                        padding-left: 0;
                        padding-right: 0;
                        .chart-state{
                            width: 100%;
                            height: 100%;
                            min-width: 14em;
                            background:rgba(12, 24, 39, 0.75);
                            
                            .chart-state-header{
                                width: 100%;
                                padding-top: 5%;
                                color: white;
                                h3{
                                    font-size: calc(1vw + 1.5vh);
                                }
    
                                .donut{
                                    width: 100%;
                                    height: 25vh;
                                }
                                .d-table{
                                    width: 100%;
                                    padding: 0;
                                    .d-table-row{
                                        display: flex;
                                        width: 100%;
                                        align-items: center;
                                        padding: 0;
                                        .legend-doughnut{
                                            padding: 0;
                                            li{
                                                margin-top: 10%;
                                                .green-ball{
                                                    background-color: #9BC53D;
                                                    display: inline-block; 
                                                    width: calc(.5vh + .5vw);
                                                    height: calc(.5vh + .5vw);
                                                    margin-right:calc(.3vh + .3vw);
                                                }
                                            }
                                            color: white;
                                            font-size: calc(.5vw + 1vh);
                                            list-style: none;
                                            
                                        }
        
                                        .percent-doughnut{
                                            padding: 0;
                                            width: 100%;
                                            li{
                                                padding: 0;
                                                width: 100%;
                                                margin-top: 10%;
                                            }
    
                                            text-align: end;
                                            width: 100%;
                                            list-style: none;
                                            font-size: calc(.5vw + 1vh);
                                        }
                                    }
                                }
                            }
                        }  
                    }
                    
                    .col-overall{
                        padding-right: 0;
                        .overall{
                            height: 100%;
                            padding: 2%;
                            width: 100%;
                            min-width: 30vw;
                            background:rgba(12, 24, 39, 0.75);
    
                            .overall-header{
                                width: 100%;
                                color: white;
                                h3{
                                    font-size: calc(1vw + 1.5vh);
                                }
                            }
                                
                            .bar-chart{
                                margin-top: 5%;
                                width: 100%;
                                height: calc(15vw + 15vh);
                                max-height: max-content;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

@media only screen and (max-width:575px){
    .dashboard{
        height: 100%;
        width: 100%;
        margin:0;
        display: flex;
        flex-grow: 1;
        font-family: Roboto;
        background:#07052b ;

        .wrapper-dashboard{
            min-height: 100%;
            width: 100%;
            display: flex;
            flex-grow: 1;
            background: #07052b;
        
            .table-row{
                width: 100vw;
                height: 100%;
                min-width: 100%;
        
                .sidebarCol{
                    padding: 0;
                    height: 100%;
                    background: #0C1827;
                    display:flex;
                    flex-grow: 1;
                    flex-direction: column;

                    .layer{
                        position:fixed;
                        padding: 0;
                        max-width: 8.3%;
                        height: 100%;

                        .sidebar-divider{
                            border:0.5px solid gray;
                            width: 95%;
                            opacity: 50%;
                        }
                
                        .profile-pic{
    
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            
    
                            .profile{
                                margin-top: 20px;
                                margin-left: 5%;
                            }
    
                            .collapsed{
                                margin-left: 5%;
                                display:none;
                            }
                            
                            a{
                                font-size: calc(1vw + 1vh);
                                color: #AFBDD1;
                                line-height: 30px;
                                /* or 150% */
                                letter-spacing: 0.15px;
                                text-decoration: none;
                                i {
                                    font-size: 1vh;
                                    margin-left: 5vw;
                                    color: #56657F;
                                }
                            }
    
                            #collapseOne{
                                width: 100%;
    
                            }
                        }
    
                        .navi{
                            height: 100%;
                            color: lightgray;
                            .active{
                                background-color: rgba(242, 247, 255, 0.3);
                                border-radius: 4px;
                                width: 100%;
                                height: calc(6vh + 6vw);
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                transition: all .4s ease-in-out;
                                a{
                                    text-decoration: none;
                                }
                                i{
                                    font-size: calc(2vw + 1vh);

                                    width: 100%;
                                    color: #44AACC;
                                    padding: 0;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
    
                                    span{
                                        color: #44AACC;
                                        text-decoration: none;
                                        font-family: Roboto;
                                        font-size: x-small;
                                        display: none;
                                    }
                                } 
                            }
    
                            .nav-items{
                                width: 100%;
                                height: calc(6vh + 6vw);
                                border-radius: 4px;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                transition: all .4s ease-in-out;
                                a{
                                    text-decoration: none;
                                }
                                i{
                                    width: 100%;
                                    text-decoration: none;
                                    margin-top: 15%;
                                    font-size: calc(2vw + 1vh);
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    color: lightgray;
                                    span{
                                        color:lightgray;
                                        text-decoration: none;
                                        font-family: Roboto;
                                        font-size: x-small;
                                        display: none;
                                    }
                                }

                                &:hover{
                                    background-color: rgba(81, 99, 131, 0.5);
                                    @include transition(.4s ease-in-out);
                                }
                            }
                        }
                    }
                }
            }

            .page-content{
                background: #123A50;
                width: 100%;

                .page-header{
                    margin-top: 5%;
                    font-family: raleway black;
                    color: lightgray;

                    .col-dashboard-header{
                        padding: 0;
                        h2{
                            font-size: calc(2vw + 2vh);
                        }
                    }
                    .col-product-button{
                        padding-right: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        a{
                            height: 50%;     
                            display: flex;  
                            justify-content: center;
                            align-items: center;
                            font-size: calc(.8vh + .8vw);
                            width: 100%;
                            background: #0C1827;   
                            border-radius: 12px;
                            text-decoration: none;
                            color: white;
                            transition: all .4s ease-in-out;
                            &:hover{
                                color: #9BC53D;
                            }
                        }
                    }
                }

                .navpil{
                    height: 100%;
                    .col-navpil{
                        padding: 0;
                        ul{
                            display: flex;
                            li{
                                padding: 0;
                                width: 32%;
                                font-size: calc(.9vw + .9vh);
                                .nav-link.active{
                                    text-align: center;
                                    width: 100%;
                                    background: #0D2031;
                                }
    
                                .nav-link{
                                    display: flex;
                                    width: 100%;
                                    color: #AFBDD1;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    background: rgba(13, 32, 49, 0.5);
                                    transition: all .2s ease-in-out;

                                    &:hover{
                                        background: rgba(13, 32, 49, 0.8);
                                    }
                                }
                            }
                        }
                    }


                    .online-button{
                        padding-right: 0;
                        padding-left: 0;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        .custom-switch{
                            background: linear-gradient(0deg, #9BC53D, #9BC53D);
                            border-radius: 6px;
                            color: white;
                            width: 100%;
                            height: 90%;
                            display: flex;
                            margin-right: 3%;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            label{
                                font-size: calc(.9vw + .9vh);
                                line-height:calc(1.5vw + 3vh);
                                margin-bottom: 10%;
                            }
                        }
                        button{
                            border: 0;
                            width:100%;
                            height: 90%;
                            background:  #2BA2B2;
                            font-size: calc(.9vw + .9vh);
                            transition: all .2s ease-in-out;

                            &:hover{
                                background: #145057;
                            }
                        }
                    }
                }

                .hardware{
                    margin-top: 2%;
                    padding: 0;
                    .colUsage{
                        //margin-top: calc(-3vw + -3vh );
                        width: 100%;
                        padding: 0;
                        min-height: 2em;
            
                        //min-width: 14em;
                        .total-usage{
                            background:rgba(12, 24, 39, 0.75);
                            padding: 3%;
                            //min-width: 10em;
                            height: 100%;
                            color: white;
                            width: 100%;
                            box-sizing: border-box;
            
                            .usage-header{
                                width: 100%;
                                color: #AFBDD1;
                                h3{
                                    text-align: center;
                                    letter-spacing: 0.1px;
                                    font-weight: bold;
                                    font-size: calc(2vw + 2vh);
                                }
                            }
            
                            .line{
                                width: 100%;
                                height: calc(15vw + 15vh);
            
                            }
                        }
                    }
                }

                .chart{
                    height: 100%;
                    margin-top: 3%;

                    .colDoughnut{
                        padding-left: 0;
                        padding-right: 0;
                        .chart-state{
                            width: 100%;
                            height: 100%;

                            background:rgba(12, 24, 39, 0.75);
                            
                            .chart-state-header{
                                width: 100%;
                                padding-top: 5%;
                                color: white;
                                margin-bottom: 5%;
                                h3{
                                    font-size: calc(1vw + 1.5vh);
                                }
    
                                .donut{
                                    width: 100%;
                                    height: 25vh;
                                }
                                .d-table{
                                    width: 100%;
                                    .d-table-row{
                                        display: flex;
                                        width: 100%;
                                        align-items: center;
                                        .legend-doughnut{
                                            padding-left: calc(.5vh + .5vw);
                                            li{
                                                margin-top: 10%;
                                                .green-ball{
                                                    background-color: #9BC53D;
                                                    display: inline-block; 
                                                    width: calc(.5vh + .5vw);
                                                    height: calc(.5vh + .5vw);
                                                    margin-right:calc(.3vh + .3vw);
                                                }
                                            }
                                            color: white;
                                            font-size: calc(.5vw + 1.2vh);
                                            list-style: none;
                                        }
        
                                        .percent-doughnut{
                                            padding-right: calc(.5vh + .5vw);
                                            li{
                                                margin-top: 10%;
                                            }
    
                                            text-align: end;
                                            width: 100%;
                                            list-style: none;
                                            font-size: calc(.5vw + 1.2vh);
                                        }
                                    }
                                }
                            }
                        }  
                    }
                    
                    .col-overall{
                        padding-right: 0;
                        padding: 0;
                        margin-top: 3%;
                        .overall{
                            height: 100%;
                            padding: 2%;
                            width: 100%;
                            background:rgba(12, 24, 39, 0.75);
    
                            .overall-header{
                                width: 100%;
                                color: white;
                                h3{
                                    font-size: calc(1vw + 1.5vh);
                                }
                            }
                            .bar-chart{
                                margin-top: 5%;
                                width: 100%;
                                height: calc(20vw + 15vh);
                            }
                        }
                    }
                    
                }
            }
        }
    }
}