html,body{
    height: 100%;
    margin:0;
    padding:0;
    font-family: Roboto;
    overflow: auto;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    &::-webkit-scrollbar {
        width: 0px;  /* Remove scrollbar space */
        background: lightgrey;  /* Optional: just make scrollbar invisible */
    }
    /* Optional: show position indicator in red */
    &::-webkit-scrollbar-thumb {
        background: darkblue;
    }
    //background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin transition($e) {
    transition-timing-function: ease-in-out;
    transition-duration: $e;
    -webkit-transform: $e;
    -moz-transform: $e;
    transition: $e;
}


@media only screen and (min-width: 768px) {
    .dashboard{
        height: 100%;
        width: 100%;
        display: flex;
        flex-grow: 1;
        margin:0;
        background: #0C1827;

        .wrapper-dashboard{
            width: 100%;
            display: flex;
            height: auto;
            flex-grow: 1;
            background: #0C1827;
        
            .table-row{
                width: 100vw;
                height: auto;
                //min-width: 100%;
                display: flex;
                flex-grow: 1;
        
                .sidebarCol{
                    padding: 0;
                    width: 100%;
                    height: 100vh;
                    max-width: 20%;
                    display:flex;
                    flex-grow: 1;
                    flex-direction: column;
                    box-sizing: border-box;

                    .layer{
                        padding: 0;
                        position:fixed;
                        max-width: 16.6%;
                        box-sizing: border-box;
                        height: 100%;
                        background:#0C1827;
                        
                        
                        .sidebar-divider{
                            border:0.5px solid gray;
                            width: 95%;
                            opacity: 50%;
                        }
                
                        .profile-pic{
    
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            text-decoration: none;

                            .profile{
                                margin-top: 20px;
                                margin-left: 5%;
                            }
    
                            a{
                                margin-left: 3%;
                                font-size: calc(1.5vw + .5vh);
                                color: white;
                                text-decoration: none;
                                i {
                                    margin-left: 3.5vw;
                                    display: inline;
                                    
                                }
                            }
    
                            #collapseOne{
                                width: 100%;
    
                            }
                        }
    
                        .navi{
                            font-size: calc(.7vw + .8vh);
                            padding-right: 0;
                            height: 40%;
                            color: lightgray;
                            width: 100%;
                            box-sizing: border-box;
                            .active{
                                background-color: rgba(242, 247, 255, 0.3);
                                word-wrap:break-word;
                                border-radius: 4px;
                                height:20%;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                margin: 0 auto;
                                i{
                                    margin-top: 3%;
                                    width: 100%;
                                    margin-left: 10%;
                                    color: #44AACC;
                                    word-wrap:break;
                                    overflow-wrap: break-word;
                                    hyphens: auto;
    
                                    span{
                                        word-wrap:break;
                                        overflow-wrap: break-word;
                                        hyphens: auto;
                                        margin-left: 10%;
                                        color: #44AACC;
                                        text-decoration: none;
                                    }
                                }
                                
                                &:hover{
                                    background-color: rgba(81, 99, 131, 0.5);
                                    @include transition(.4s ease-in-out);
                                }
                            }
    
                            .nav-items{
                                height:20%;
                                width: 100%;
                                word-wrap: break-word;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                margin: 0 auto;
                                
                                i{
                                    width: 100%;
                                    margin-top: 5%;
                                    margin-left: 10%;
                                    color: lightgray;
                                    span{
                                        color:lightgray;
                                        margin-left: 10%;
                                        text-decoration: none;
                                    }
                                }

                                &:hover{
                                    background-color: rgba(242, 247, 255, 0.1);
                                    border-radius: 4px;
                                    margin: 0 auto;
                                    @include transition(.4s ease-in-out);
                                }
                            }
                        }
                    }
                }
            }

            .page-content{
                background: #123A50;
                width: 100%;
                min-width: 80%;

                .page-header{
                    margin-top: 5%;
                    font-family: raleway black;
                    color: lightgray;
                    h2{
                        font-size: calc(2vw + 2vh);
                    }
                }

                .navpil{
                    padding: 0;
                    
                    .col-navpil{
                        padding: 0;
                    }
                    ul{

                        li{
                            .nav-link.active{
                                background: #0D2031;
                            }

                            .nav-link{
                                color: #AFBDD1;
                                background: rgba(13, 32, 49, 0.5);

                                &:hover{
                                    background: rgba(13, 32, 49, 0.8);
                                    @include transition(.8s ease-in-out);
                                }
                            }
                        }
                    }

                    .online-button{
                        padding: 0;
                        @include transition(.8s ease-in-out);
                        button{
                            border: 0;
                            background:  #2BA2B2;
                            @include transition(.8s ease-in-out);

                            &:hover{
                                background: #145057;
                                @include transition(.4s ease-in-out);
                            }
                        }
                    }
                }

                .user-intro{
                    margin-top: 3%;
                    height: calc(15vh + 15vw);
                    box-sizing: border-box;
                    border-radius: 4px;
                    background: rgba(12, 24, 39, 0.75);

                    .col-user-intro{
                        height: 100%;
                        .user-intro-inside{
                            height: 100%;
                            .user-section{
                                height: 100%;
                                padding:3%;
                                color: #AFBDD1;

                                h2{
                                    margin-top: 15%;
                                    font-size: calc(2vw + 2vh);
                                    font-weight: bold;
                                    line-height: 30px;
                                    /* or 83% */
                                    letter-spacing: 0.15px;
                                    /* Dark / White extra */
                                }
                                p{
                                    line-height: 21px;
                                    font-size: calc(.7vw + .7vh);
                                    /* or 150% */
                                    letter-spacing: 0.1px;
                                    a{
                                        margin-left: 1%;
                                        color: #AFBDD1;
                                        text-decoration: none;
                                        @include transition(.8s ease-in-out);
                                        &:hover{
                                            color: #44AACC;
                                        }
                                    }
                                }
                            }

                            .powerwall-image-section{
                                .half-circle{
                                    position: absolute;
                                    left: 10%;
                                    bottom: 0;
                                    border-top-right-radius: 15vw;
                                    border-top-left-radius: 15vw;
                                    width: 30vw;
                                    height: 15vw;
                                    background: #44AACC;
                                }
                                .powerwall-img{
                                    position: absolute;
                                    top: 20%;
                                    left:20%;
                                    z-index: 2;
                                }
                            }
                        }
                    }
                }

                .chart{
                    padding: 0;
                    height: 100%;
                    margin-top: 3%;

                    .colDoughnut{
                        padding-left: 0;
                    }
                    
                    .colUsage{
                        padding-right: 0;
                    }

                    .chart-state{
                        height: 100%;
                        color: white;
                        min-width: 25vw;
                        width: 100%;
                        padding: 1vw;
                        background:rgba(12, 24, 39, 0.75);
                        
                        .chart-state-header{
                            width: 100%;
                            color: white;
                            h3{
                                font-size: calc(1vw + 1.5vh);
                            }

                            .donut{
                                margin-top: 10%;
                                width: 100%;
                                height: calc(13vw + 5vh);
                            }

                            .d-table{
                                margin-top: 10%;
                                width: 100%;
                                .d-table-row{
                                    width: 100%;
                                    .legend-doughnut{
                                        height: 100%;
                                        margin-left: -0.5vw;
                                        color: white;
                                        font-size: calc(.7vw + .8vh);
                                        
                                        list-style: none;
                                        li{
                                            margin-top: 3vh;
                                        }
                                        
                                        .Red{
                                            &::before{
                                                content: "\25a0"; 
                                                font-weight: bold;
                                                
                                                color: red;
                                                display: inline-block; 
                                                width: 1vw;
                                                margin-left: calc(-1.2vw + -1.2vh);
                                            }
                                        }
                                        .Green{
                                             &::before{
                                                content: "\25a0"; 
                                                font-weight: bold;
                                                
                                                color: green;
                                                display: inline-block; 
                                                width: 1vw;
                                                margin-left: calc(-1.2vw + -1.2vh);
                                            }
                                        }
        
                                        .Blue{
                                            &::before{
                                               content: "\25a0"; 
                                               font-weight: bold;
                                               
                                               color: blue;
                                               display: inline-block; 
                                               width: 1vw;
                                               margin-left: calc(-1.2vw + -1.2vh);
                                           }
                                       }
                                    }
    
                                    .percent-doughnut{
                                        text-align: end;
                                        padding: 0;
                                        height: 100%;
                                        width: 100%;
                                        list-style: none;
                                        font-size: calc(.7vw + 0.8vh);
                                        margin-right: 0;
        
                                        li{
    
                                            margin-top: 3vh;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .total-usage{
                        height: auto;
                        padding: 2%;
                        width: 100%;
                        background:rgba(12, 24, 39, 0.75);

                        .usage-header{
                            width: 100%;
                            color: white;
                            h3{
                                font-size: calc(1vw + 1.5vh);
                            }

                            .line{
                                margin-top: 5%;
                                width: 100%;
                                height: calc(13vw + 13vh);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:576px) and (max-width: 767px) {
    .dashboard{
        height: 100%;
        width: 100%;
        margin:0;
        display: flex;
        flex-grow: 1;
        font-family: Roboto;
        background:#07052b ;

        .wrapper-dashboard{
            min-height: 100%;
            width: 100%;
            display: flex;
            flex-grow: 1;
            background: #07052b;
        
            .table-row{
                width: 100vw;
                height: 100%;
                display: flex;
                flex-grow: 1;
                min-width: 100%;
        
                .sidebarCol{
                    padding: 0;
                    height: 100vh;
                    background: #07052b;
                    display:flex;
                    flex-grow: 1;
                    flex-direction: column;

                    .layer{
                        position:fixed;
                        padding: 0;
                        max-width: 8.3%;
                        height: 100%;

                        .sidebar-divider{
                            border:0.5px solid gray;
                            width: 95%;
                            opacity: 50%;
                        }
                
                        .profile-pic{
    
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            
    
                            .profile{
                                margin-top: 20px;
                                margin-left: 5%;
                            }
    
                            .collapsed{
                                margin-left: 5%;
                                display:none;
                            }
                            
                            a{
                                font-size: 2.5vh;
                                color: white;
                                text-decoration: none;
                                i {
                                    margin-left: 5vw;
                                }
                            }
    
                            #collapseOne{
                                width: 100%;
    
                            }
                        }
    
                        .navi{
                            height: 100%;
                            color: lightgray;
                            .active{
                                background-color: rgba(242, 247, 255, 0.3);
                                border-radius: 4px;
                                width: 100%;
                                height: 7%;
                                margin: 0 auto;
                                margin-top: 10%;
                                padding-top: 10%;
                                padding-bottom: 10%;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                
                                i{
                                    font-size: calc(2.5vw + 1vh);

                                    width: 100%;
                                    color: #44AACC;
                                    padding: 0;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
    
                                    span{
                                        color: #44AACC;
                                        text-decoration: none;
                                        font-size: x-small;
                                        display: none;
                                    }
                                } 
                            }
    
                            .nav-items{
                                width: 100%;
                                height: 7%;
                                margin-top: 10%;
                                margin: 0 auto;
                                border-radius: 4px;
                                padding-top: 10%;
                                padding-bottom: 10%;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                a{
                                    text-decoration: none;
                                }
                                i{
                                    width: 100%;
                                    //margin-top: 10%;
                                    font-size: calc(2.5vw + 1vh)h;
                                    display: flex;
                                    flex-direction: column;
                                    justify-items: center;
                                    align-items: center;
                                    color: lightgray;
                                    span{
                                        color:lightgray;
                                        text-decoration: none;
                                        font-size: x-small;
                                        display: none;
                                    }
                                }
                                &:hover{
                                    background-color: rgba(81, 99, 131, 0.5);
                                    @include transition(.4s ease-in-out);
                                }
                            }
                        }
                    }
                }
            }

            .page-content{
                background: #123A50;
                width: 100%;

                .page-header{
                    margin-top: 5%;
                    font-family: raleway black;
                    color: lightgray;

                    h2{
                        font-size: 4vw;
                    }
                }

                .navpil{
                    .col-navpil{
                        padding: 0;
                    }
                    ul{
                        li{
                            font-size: calc(1vw + 1vh);
                            .nav-link.active{
                                background: #0D2031;
                            }

                            .nav-link{
                                color: #AFBDD1;
                                background: rgba(13, 32, 49, 0.5);

                                &:hover{
                                    background: rgba(13, 32, 49, 0.8);
                                    @include transition(.8s ease-in-out);
                                }
                            }
                        }
                    }


                    .online-button{
                        padding-right: 0;
                        button{
                            font-size: calc(1vw + 1vh);
                            border: 0;
                            background:  #2BA2B2;

                            &:hover{
                                background: #145057;
                                @include transition(.4s ease-in-out);
                            }
                        }
                    }
                }

                .chart{
                    height: 100%;
                    margin-top: 3%;

                    .colDoughnut{
                        margin-top: 5%;
                        .chart-state{
                            width: 100%;
                            height: 100%;
                            min-width: 14em;
                            background:rgba(12, 24, 39, 0.75);
                            
                            .chart-state-header{
                                width: 100%;
                                padding-top: 5%;
                                color: white;
                                h3{
                                    font-size: calc(1vw + 1.5vh);
                                }
    
                                .donut{
                                    width: 100%;
                                    height: 25vh;
                                }
                                .d-table{
                                    width: 100%;
                                    padding: 0;
                                    .d-table-row{
                                        display: flex;
                                        width: 100%;
                                        align-items: center;
                                        padding: 0;
                                        .legend-doughnut{
                                            padding: 0;
                                            li{
                                                margin-top: 10%;
                                            }
                                            color: white;
                                            font-size: calc(.5vw + 1vh);
                                            list-style: none;
                                            .Red{
                                                &::before{
                                                    content: "\25a0"; 
                                                    font-weight: bold;
                                                    
                                                    color: red;
                                                    display: inline-block; 
                                                    width: 1em;
                                                    margin-left: calc(-0.5vw + -0.5vh);
                                                }
                                            }
                                            .Green{
                                                &::before{
                                                    content: "\25a0"; 
                                                    font-weight: bold;
                                                    
                                                    color: green;
                                                    display: inline-block; 
                                                    width: 1em;
                                                    margin-left: calc(-0.5vw + -0.5vh);
                                                }
                                            }
        
                                            .Blue{
                                                &::before{
                                                content: "\25a0"; 
                                                font-weight: bold;
                                                
                                                color: blue;
                                                display: inline-block; 
                                                width: 1em;
                                                margin-left: calc(-0.5vw + -0.5vh);
                                                }
                                            }
                                        }
        
                                        .percent-doughnut{
                                            padding: 0;
                                            width: 100%;
                                            li{
                                                padding: 0;
                                                width: 100%;
                                                margin-top: 10%;
                                            }
    
                                            text-align: end;
                                            width: 100%;
                                            list-style: none;
                                            font-size: calc(.5vw + 1vh);
                                        }
                                    }
                                }
                            }
                        }  
                    }
                    
                    .colUsage{
                        margin-top: 5%;
                        padding-left: 0;
                        .total-usage{
                            height: 100%;
                            padding: 2%;
                            width: 100%;
                            min-width: 30vw;
                            background:rgba(12, 24, 39, 0.75);
    
                            .usage-header{
                                width: 100%;
                                color: white;
                                h3{
                                    font-size: calc(1vw + 1.5vh);
                                }
    
                                .line{
                                    margin-top: 5%;
                                    width: 100%;
                                    height: calc(15vw + 15vh);
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

@media only screen and (max-width:575px){
    .dashboard{
        height: 100%;
        width: 100%;
        margin:0;
        display: flex;
        flex-grow: 1;
        font-family: Roboto;
        background:#07052b ;

        .wrapper-dashboard{
            min-height: 100%;
            width: 100%;
            display: flex;
            flex-grow: 1;
            background: #07052b;
        
            .table-row{
                width: 100vw;
                height: 100%;
                min-width: 100%;
        
                .sidebarCol{
                    padding: 0;
                    height: 100%;
                    background: #07052b;
                    display:flex;
                    flex-grow: 1;
                    flex-direction: column;

                    .layer{
                        position:fixed;
                        padding: 0;
                        max-width: 8.3%;
                        height: 100%;

                        .sidebar-divider{
                            border:0.5px solid gray;
                            width: 95%;
                            opacity: 50%;
                        }
                
                        .profile-pic{
    
                            width: 100%;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            
    
                            .profile{
                                margin-top: 20px;
                                margin-left: 5%;
                            }
    
                            .collapsed{
                                margin-left: 5%;
                                display:none;
                            }
                            
                            a{
                                font-size: 2vh;
                                color: white;
                                text-decoration: none;
                                i {
                                    font-size: 1vh;
                                    margin-left: 5vw;
                                }
                            }
    
                            #collapseOne{
                                width: 100%;
    
                            }
                        }
    
                        .navi{
                            height: 100%;
                            color: lightgray;
                            .active{
                                background-color: rgba(242, 247, 255, 0.3);
                                border-radius: 4px;
                                width: 100%;
                                height: 7%;
                                margin: 0 auto;
                                margin-top: 10%;
                                padding-top: 10%;
                                padding-bottom: 10%;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                
                                a{
                                    text-decoration: none;
                                }
                                i{
                                    font-size: calc(2vw + 1vh);

                                    width: 100%;
                                    color: #44AACC;
                                    padding: 0;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
    
                                    span{
                                        color: #44AACC;
                                        text-decoration: none;
                                        font-size: x-small;
                                        display: none;
                                    }
                                } 
                            }
    
                            .nav-items{
                                width: 100%;
                                height: 7%;
                                margin-top: 10%;
                                margin: 0 auto;
                                border-radius: 4px;
                                padding-top: 10%;
                                padding-bottom: 10%;
                                display: flex;
                                flex-direction: column;
                                align-content: center;
                                justify-content: center;
                                a{
                                    text-decoration: none;
                                }
                                i{
                                    width: 100%;
                                    text-decoration: none;
                                    margin-top: 15%;
                                    font-size: calc(2vw + 1vh);
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    color: lightgray;
                                    span{
                                        color:lightgray;
                                        text-decoration: none;
                                        font-size: x-small;
                                        display: none;
                                    }
                                }

                                &:hover{
                                    background-color: rgba(81, 99, 131, 0.5);
                                    @include transition(.4s ease-in-out);
                                }
                            }
                        }
                    }
                }
            }

            .page-content{
                background: #123A50;
                width: 100%;

                .page-header{
                    margin-top: 5%;
                    font-family: raleway black;
                    color: lightgray;

                    h2{
                        font-size: 4vw;
                    }
                }

                .navpil{
                    height: 100%;
                    .col-navpil{
                        padding: 0;
                        ul{
                            display: flex;
                            li{
                                padding: 0;
                                width: 33%;
                                min-width: 60px;
                                font-size: calc(.9vw + .9vh);
                                align-items: center;
                                justify-content: center;
                                .nav-link.active{
                                    width: 100%;
                                    text-align: center;
                                    background: #0D2031;
                                }
    
                                .nav-link{
                                    width: 100%;
                                    color: #AFBDD1;
                                    text-align: center;
                                    background: rgba(13, 32, 49, 0.5);
    
                                    &:hover{
                                        background: rgba(13, 32, 49, 0.8);
                                        @include transition(.8s ease-in-out);
                                    }
                                }
                            }
                        }
                    }


                    .online-button{
                        padding-right: 0;
                        height: 100%;
                        button{
                            width: 100%;
                            font-size: calc(.9vw + .9vh);
                            border: 0;
                            background:  #2BA2B2;

                            &:hover{
                                background: #145057;
                                @include transition(.4s ease-in-out);
                            }
                        }
                    }
                }

                .chart{
                    height: 100%;
                    margin-top: 3%;

                    .colDoughnut{
                        padding: 0;
                        margin-top: 5%;
                        .chart-state{
                            width: 100%;
                            height: 100%;

                            background:rgba(12, 24, 39, 0.75);
                            
                            .chart-state-header{
                                width: 100%;
                                padding-top: 5%;
                                color: white;
                                margin-bottom: 5%;
                                h3{
                                    font-size: calc(1vw + 1.5vh);
                                }
    
                                .donut{
                                    width: 100%;
                                    height: 25vh;
                                }
                                .d-table{
                                    width: 100%;
                                    .d-table-row{
                                        display: flex;
                                        width: 100%;
                                        align-items: center;
                                        .legend-doughnut{
    
                                            li{
                                                margin-top: 10%;
                                            }
                                            color: white;
                                            font-size: calc(.5vw + 1.2vh);
                                            list-style: none;
                                            .Red{
                                                &::before{
                                                    content: "\25a0"; 
                                                    font-weight: bold;
                                                    
                                                    color: red;
                                                    display: inline-block; 
                                                    width: 1em;
                                                    margin-left: calc(-2.2vw + -2.2vh);
                                                }
                                            }
                                            .Green{
                                                &::before{
                                                    content: "\25a0"; 
                                                    font-weight: bold;
                                                    
                                                    color: green;
                                                    display: inline-block; 
                                                    width: 1em;
                                                    margin-left: calc(-2.2vw + -2.2vh);
                                                }
                                            }
        
                                            .Blue{
                                                &::before{
                                                content: "\25a0"; 
                                                font-weight: bold;
                                                
                                                color: blue;
                                                display: inline-block; 
                                                width: 1em;
                                                margin-left: calc(-2.2vw + -2.2vh);
                                                }
                                            }
                                        }
        
                                        .percent-doughnut{
    
                                            li{
                                                margin-top: 10%;
                                            }
    
                                            text-align: end;
                                            width: 100%;
                                            list-style: none;
                                            font-size: calc(.5vw + 1.2vh);
                                        }
                                    }
                                }
                            }
                        }  
                    }
                    
                    .colUsage{
                        margin-top: 5%;
                        padding-left: 0;
                        padding: 0;
                        .total-usage{
                            height: 100%;
                            padding: 2%;
                            width: 100%;
                            background:rgba(12, 24, 39, 0.75);
    
                            .usage-header{
                                width: 100%;
                                color: white;
                                h3{
                                    font-size: calc(1vw + 1.5vh);
                                }
    
                                .line{
                                    margin-top: 5%;
                                    width: 100%;
                                    height: calc(20vw + 15vh);
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}