html, body{
    height: 100%;
    margin:0;
    padding:0;
    background: #123A50;
    font-family: Roboto;
    overflow: auto;
   // -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
   // -moz-animation: fadein 1s; /* Firefox < 16 */
    //background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to bottom, #FFB88C, #DE6262); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (min-width: 780px) {

    .login{
        background: #123A50;
        height: 100%;

        .navbar{
            margin-left: 2%;
            margin-right: 2%;

            .navbar-brand{
                width: 13vw;
                height: auto;
            }
            .icon-pajangan{
                color: white;
                font-size: 5vh;
            }
        }

        .login-content{
            z-index: 2;
            width: 30%;
            margin-top: 7%;

            .login-header{
                color: white;
                h1{
                    font-size: calc(2vw + 2vh);
                    letter-spacing: 0.15px;
                }
            }

            .signin-form{
                margin-top:4vh;
                
                label{

                    color: white;
                }
                .form-control{
                    min-width: 50px;
                    margin-top: 2vh;
                    margin-bottom: 3vh;
                    background: #AFBDD1;
                    border: 1px solid #313C4E;
                    box-sizing: border-box;
                    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;

                    &:focus{
                        box-shadow: 0px 0px 1px 3px rgba(0,131,212,1);
                    }
                }
                button{
                    margin-top: 1vh;
                    background: #44AACC;
                    border: 1px solid #313C4E;
                    box-sizing: border-box;
                    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    font-size: 2.5vh;

                    &:hover{
                        background: #007fb5;
                    }
                }

                .forgot-pass{
                    margin-top: 2vh;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 2vh;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    a{
                        text-decoration: none;
                        letter-spacing: 0.225em;
                        color: #A6ACBE;
                    }
                }
            }
        }

        .footer-bottom{
            position: absolute;
            bottom: 1%;
            width: 100%;
            color: #A6ACBE;
            font-size: 2vh;
            text-align: center;
            z-index: 0;
            h6{
                font-size: 2.5vh;
            }
        }
    }
}

@media only screen and (max-width: 780px) {
    .login{
        background: #123A50;
        font-family: Roboto;

        .navbar{
            margin-left: 2%;
            margin-right: 2%;

            .navbar-brand{
                width: calc(10vw + 10vh);
                height: auto;
            }
            .icon-pajangan{
                color: white;
                font-size: 5vh;
            }
        }

        .login-content{
            z-index: 2;
            width: 50%;
            margin-top: 7%;
            margin-bottom: 20vh;
            .login-header{
                color: white;
                h1{
                    font-size: calc(2vw + 2vh);
                    letter-spacing: 0.15px;
                }
            }

            .signin-form{
                margin-top:4vh;
                
                label{
                    font-size: calc(1vw + 1vh);
                    color: white;
                }
                .form-control{
                    min-width: 50px;
                    margin-top: 2vh;
                    margin-bottom: 3vh;
                    background: #AFBDD1;
                    border: 1px solid #313C4E;
                    box-sizing: border-box;
                    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    &:focus{
                        box-shadow: 0px 0px 1px 3px rgba(0,131,212,1);
                    }
                }
                button{
                    margin-top: 1vh;
                    background: #44AACC;
                    border: 1px solid #313C4E;
                    box-sizing: border-box;
                    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    font-size: 2.5vh;
                    &:hover{
                        background: #007fb5;
                    }
                }

                .forgot-pass{
                    margin-top: 2vh;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 2vh;
                    line-height: 21px;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    a{
                        text-decoration: none;
                        letter-spacing: 0.225em;
                        color: #A6ACBE;
                    }
                }
            }
        }

        .footer-bottom{
            position: absolute;
            bottom: 1%;
            width: 100%;
            color: #A6ACBE;
            font-size: 2vh;
            text-align: center;
            z-index: 0;

            h6{
                font-size: 2.5vh;
            }
        }
    }
}